{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
navigation %}
<div class="pb-4">
  <div class="columns is-mobile">
    <div class="column">
      <h1 class="title is-2">Hi, {{user.username}}!</h1>
    </div>
    <div class="column is-narrow">
      <div class="icon is-large">
        <i
          class="fa-solid fa-gear fa-2xl"
          onclick="window.location.href='settings';"
        ></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}{% block content %}
<div class="pt-4">
  <h2 class="subtitle is-5">View your personal substitution plan</h2>
  <form class="mb-1" method="POST">
    <div class="field has-addons">
      <p class="control">
        <a class="button is-static">{{ week_day }}</a>
      </p>
      <p class="control has-icons-left is-expanded">
        <input
          type="date"
          class="input"
          id="date"
          name="date"
          value="{{ date }}"
        />
        <span class="icon is-left">
          <i class="fa-solid fa-calendar-days"></i>
        </span>
      </p>
      <p class="control">
        <button class="button is-info" type="submit">Confirm</button>
      </p>
    </div>
  </form>
  <div class="is-size-7 has-text-grey-light has-text-centered mb-5">
    Last Change: {{ last_update }}
  </div>
  {% if messages %}
  <article class="message is-link">
    <div class="message-header">
      <p>General Info</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      {% for message in messages %}
      <div class="block">{{ message }}</div>
      {% endfor %}
    </div>
  </article>
  {% endif %}
  {% if changes %}
  {% for change in changes %}
  
  <div class="box p-4 {% if change[6] == 'CANCELED' %}has-background-danger{% elif change[6] == 'CHANGE' %}has-background-warning{% endif %}" style="border-radius: 10px">
    <div class="columns is-mobile is-variable is-2">
          <div class="column is-3">
            <div
              class="notification has-background-white is-flex is-justify-content-center is-align-items-center p-0 has-text-weight-bold"
              style="
                height: 100%;
                border-radius: 10px;
                font-size: 8vw;
                white-space: nowrap;
              "
            >
              {{ change[0] }}
            </div>
          </div>
          <div class="column is-9">
            <div
              class="notification has-background-white has-text-centered mb-4 p-1"
              style="border-radius: 10px"
            >
              <div class="columns is-mobile is-gapless">
                <div
                  class="column has-text-weight-bold is-flex is-justify-content-center is-align-items-center"
                  style="font-size: 5vw;"
                >
                  {{ change[1] }}
                </div>
                <div
                  class="column has-text-weight-bold is-flex is-justify-content-center is-align-items-center {% if change[7] == 'CHANGE' %}is-underlined{% endif %}"
                  style="font-size: 5vw;"
                >
                  {{ change[2] }}
                </div>
                <div
                  class="column has-text-weight-bold is-flex is-justify-content-center is-align-items-center {% if change[8] == 'CHANGE' %}is-underlined{% endif %}"
                  style="font-size: 5vw;"
                >
                  {{ change[3] }}
                </div>
              </div>
            </div>
            <div
              class="notification has-background-white has-text-centered mt-4 p-2"
              style="border-radius: 10px; word-wrap: break-word"
            >
              {{ change[4] }}{% if not change[4] == "" and not change[5] == ""%}
              | {% endif %}{{ change[5] }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% endif %} {% endblock %}
    </div>
  </div>
</div>
